.app {
  color: #223e4b;
  text-align: left;
  margin-top: 20px;
  margin-left: 20px;
  font-size: 0.8em;
}

.content {
  color: #223e4b;
  margin-top: 30px;
}

.title {
  color: #223e4b;
  font-size: 2em;
  margin-bottom: 8px;
}

.intro {
  color: #223e4b;
  font-size: 1em;
}

.observation-list {
}

.canvas {
  height: 500px;
  width: 1500px;
  margin-left: -20px;
}

