.App {
  color: #223e4b;
  text-align: left;
  margin-left: 50px;
  margin-top: 50px;
  font-size: 1em;
}

.content {
  margin-top: 30px;
}

.myTitle {
  font-size: 2em;
}

.intro {
  font-size: 1em;
}

